<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Yujin Server</title>
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/js/index.js"></script>
</head>
<style>

</style>
<body>
<div class="content-wrapper">
    <h1>Yujin Server</h1>
    <div id="service-wrapper">
        <div id="file-service-wrapper">
            <h1 class="title-head">File-Service</h1>
            <h3>File Upload</h3>
            <form id="file-form-wrapper">
                <input type="file" name="input_file">
                <input type="submit" name="Upload">
            </form>
            <ul id="file-list-wrapper">
            </ul>
        </div>
        <div id="client-list-wrapper">
            <h1 class="title-head">Client-List</h1>
            <ul id="client-list">
                Disconnected
            </ul>
        </div>
    </div>
    <div id="system-message-wrapper">
        <textarea rows="3" readonly></textarea>
    </div>
    <div id="connect_wrapper">
        <label for="client_name">Client Name :</label>
        <input id="client_name" type="text" name="client_name">
        <input id="client_login_button" type="button" value="접속">
        <input id="client_logout_button" type="button" value="접속종료">
    </div>
</div>
</body>
</html>