<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Yujin Server</title>
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/js/index.js"></script>
</head>
<style>
</style>
<body>
<div class="content-wrapper">
    <h1>Yujin Server</h1>
    <button id="sync_button">동기화</button>
    <div id="service-wrapper">
        <div id="file-service-wrapper">
            <h1 class="title-head">File-Service</h1>
            <h3>File Upload</h3>
            <div id="file-wrapper">
            <form id="file-form-wrapper" method="post" action="file" enctype="multipart/form-data">
                <input id="input_file" type="file" name="input_file">
                <input id="client_name_input" name="client_name" type="hidden" value="">
                <input type="submit" name="Upload">
            </form>
            <ul id="file-list">
            </ul>
            </div>
        </div>
        <div id="client-list-wrapper">
            <h1 class="title-head">Client-List</h1>
            <ul id="client-list">
                Disconnected
            </ul>
        </div>
    </div>
    <div id="system-message-wrapper">
        <textarea rows="3" readonly></textarea>
    </div>
    <div id="connect_wrapper">
        <label for="client_name">Client Name :</label>
        <input id="client_name" type="text" name="client_name">
        <input id="client_login_button" type="button" value="접속">
        <input id="client_logout_button" type="button" value="접속종료">
    </div>
    <h2>Share File</h2>
    <select id="selected_file">
        <option value="">Select a file</option>
    </select>

    <select id="selected_client">
        <option value="">Select a client</option>
    </select>

    <button id="share_button">Share</button>
</div>
</body>
</html>